@model PresentationLayer.Models.CompanyListViewModel

@{
    ViewBag.Title = "CompanyListView";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CompanyListView</h2>

<p>
 
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

</table>
